body {
    background-color: #c5cfde;
}

#upgrade_btn {
    background-color: #faa107;
}

#walkins {
    background-color: #33b864;
}

#calls {
    background-color: #FFDB58;
}

#responders_tab {
    background-color: #805D93;
}

#new_responder_btn {
    width: 20%;
}

#today {
    background-color: rgba(255, 99, 132, 0.2);
}

.gray-row {
    background-color: rgba(201, 203, 207, 0.2);
}

.yellow {
    background-color: rgba(255, 205, 86, 0.5);
}

.orange-less {
    background-color: rgba(255, 159, 64, 0.2);
}

.orange {
    background-color: rgba(255, 159, 64, 0.5);
}

.red {
    background-color: rgba(255, 99, 132, 0.5);
}

.gray {
    background-color: #f4f5f8;
}

.small {
    font-size: 10px;
}