body {
    background-color: #c5cfde;
}

#today_total {
    background-color: #93CAED;
    color: #c5cfde;
}

#mtd_total {
    background-color: #93CAED;
}

#ytd_total {
    background-color: #93CAED;
}

#upgrade_btn {
    background-color: #faa107;
}

#walkins {
    background-color: #33b864;
}

#calls {
    background-color: #FFDB58;
}

#responders_tab {
    background-color: #805D93;
}

#new_responder_btn {
    width: 20%;
}