{%  extends 'calls/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md ml-3 mr-3">
		{% if expired_licenses %}
		<div class="card card-body bg-danger w-25 shadow">
			{% for name in expired_licenses%}
				<div class="row ml-auto mr-auto">				
					{{ name }}'s license is expired!				
				</div>
			{% endfor %}
		</div>
		<br>
		{% endif %}
		{% if expired_cprs %}
		<div class="card card-body bg-danger w-25 shadow">
			{% for name in expired_cprs%}
				<div class="row ml-auto mr-auto">				
					{{ name }}'s CPR is expired!				
				</div>
			{% endfor %}
		</div>
		<br>
		{% endif %}
		<div class="card card-body gray shadow">
			<div class="row">
				<form method="get" class="form-inline ml-2">

					{{ responderFilter.form }}

					<button class="btn btn-outline-primary ml-2 shadow" type="submit">Search</button>
				</form>
				<a class="btn btn-outline-success btn-block ml-auto mr-2 shadow" id="new_responder_btn" href="{% url 'new_responder' %}">➕ New Responder</a>
			</div>
		</div>
		<br>
		<div class="card card-body shadow">
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Certification</th>
					<th>FT/PT</th>
					<th>Phone</th>
					<th>Email</th>
					<th>License expires</th>
					<th>CPR expires</th>
					<th>Status</th>
					<th>Update</th>
				</tr>		
				{% for responder in responders %}
					<tr class="shadow-sm">
						<td>{{ responder.firstname }} {{ responder.lastname }}</td>
						<td>{{ responder.certification }}</td>
						<td>{{ responder.status }}</td>
						<td>{{ responder.phone }}</td>
						<td>{{ responder.email }}</td>
						<td class="text-success {% if responder.license_expiration <= today.date %}text-danger{% elif responder.license_expiration < time_threshold.date %}text-warning{% endif %}">{{ responder.license_expiration }}</td>
						<td class="text-success {% if responder.cpr_expiration <= today.date %}text-danger{% elif responder.cpr_expiration < time_threshold.date %}text-warning{% endif %}">{{ responder.cpr_expiration }}</td>
						{% if responder.active == True %}
							<td>Active</td>
						{% endif %}
						{% if responder.active == False %}
							<td>Inactive</td>
						{% endif %}
						<td><a method="POST" class="btn btn-sm btn-outline-secondary shadow" id="on_scene_btn" href="{% url 'update_responder' responder.id %}">Update</a></td>
					</tr>
				{% endfor %}
			</table>
			<div class="row ml-2">
				<p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</p>
				<ul class="pagination align-right float-right ml-auto">
					{% if page_obj.has_previous %}
						<li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
						<li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
					{% endif %}
					{% if page_obj.has_next %}
						<li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
						<li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>		
</div>

{% endblock content %}