{%  extends 'calls/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md">
		
		<div class="card card-body ml-2 mr-2 gray shadow">
			<div class="row">
				<form method="get" class="form-inline ml-2" id="call-filter-form">

					{{ callFilter.form }}

					<button class="btn btn-primary ml-2 shadow" type="submit">Search</button>
				</form>
			</div>
		</div>
		<br>
		<div class="card card-body ml-2 mr-2 mb-2 shadow">
			<table class="table">
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Nature</th>
					<th>Zone</th>
                    <th>Location</th>
                    <th>Caller</th>
                    <th>Responder</th>
					<th>On Scene</th>
                    <th>Upgraded</th>
                    <th>EMS On Scene</th>
                    <th>EMS Clear</th>
					<th>Cancelled</th>
				</tr>		
				{% for call in page_obj %}
					<tr class="shadow-sm {% if call.upgrade_time %}orange-less{% endif %}">
						<td>{{ call.datetime|date:"m/d/y" }}</td>
						<td>{{ call.datetime|time:"G:i" }}</td>
						<td>{{ call.nature }}</td>
						<td>{{ call.zone }}</td>
                        <td>{{ call.location }}</td>
                        <td>{{ call.caller }}</td>
						<td>{{ call.responder_id }}</td>
						<td>{% if call.on_scene_time %}{{ call.on_scene_time|time:"G:i" }}{% else %}------{% endif %}</td>
                        <td>{% if call.upgrade_time %}{{ call.upgrade_time|time:"G:i" }}{% else %}------{% endif %}</td>
                        <td>{% if call.ems_on_scene_time %}{{ call.ems_on_scene_time|time:"G:i" }}{% else %}------{% endif %}</td>
                        <td>{% if call.ems_clear_scene_time %}{{ call.ems_clear_scene_time|time:"G:i" }}{% else %}------{% endif %}</td>
						<td>{% if call.cancel_time %}{{ call.cancel_time|time:"G:i" }}{% else %}------{% endif %}</td>
					</tr>
				{% endfor %}
			</table>
			<div class="row ml-2 mr-2">
				<p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</p>
				<ul class="pagination align-right float-right ml-auto">
					{% if page_obj.has_previous %}
					<li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
					<li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
					{% endif %}
			  
					{% if page_obj.has_next %}
					<li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
					<li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>		
</div>

{% endblock content %}