{% extends 'calls/main.html' %}

{% load static %}

{% block content %}

<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body w-25 m-auto bg-dark text-white shadow">
            <h5>🚑 &nbsp&nbspDispatch Call</h5>
        </div>
        <div class="card card-body w-25 m-auto shadow">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="mt-4 text-center">
                    <a class="btn btn-warning shadow mr-2" href="{% url 'home' %}">Cancel</a>
                    <input class="btn btn-primary shadow" type="submit" name="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}