{% extends 'calls/main.html' %}

{% load static %}

{% block content %}

<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body w-50 m-auto bg-primary">
            <h5>Dispatch Call</h5>
        </div>
        <div class="card card-body w-50 m-auto">

            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-info" type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>

{% endblock %}