{% extends 'calls/main.html' %}

{% load tz %}
{% load static %}

{% block content %}

{% include 'calls/status.html' %}

<br>
<div class="row">
    <div class="col-md-5">
        <h5>&nbsp AMB Walk-Ins</h5>
        <hr>
        <div class="card card-body ml-2 shadow">
            <a class="btn btn-info btn-sm btn-block shadow" href="{% url 'new_walkin' %}">New Walkin</a>
            <table class="table table-sm">
                <tr>
                    <th>Date &nbsp Time</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Reason</th>
                    <th>Notes</th>
                </tr>
                {% for walkin in walkins %}
                <tr class="shadow-sm {% if walkin.datetime < time_threshold %}gray{% endif %}">     
                    <td>{{ walkin.datetime|date:"m/d" }} &nbsp {{ walkin.datetime|localtime|time:"G:i" }}</td>                  
                    <td>{{ walkin.firstname }}</td>
                    <td>{{ walkin.lastname }}</td>
                    <td>{{ walkin.reason }}</td>
                    <td><a class="btn btn-sm ml-2 shadow" href="{% url 'walkin_notes' walkin.id %}">📝</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5>Response Log</h5>
        <hr>
        <div class="card card-body mr-2 shadow">
            <a class="btn btn-primary btn-sm btn-block shadow" href="{% url 'new_call' %}">Dispatch Call</a>
            <table class="table table-sm">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Nature</th>
                    <th>Location</th>
                    <th>Responder</th>
                    <th>On Scene</th>
                    <th>Upgrade</th>
                    <th>Cancel</th>
                </tr>
                {% for call in calls %}
                    <tr class="shadow-sm {% if call.datetime < time_threshold %}gray{% endif %}">
                        <td>{{ call.datetime|date:"m/d/y" }}</td>
                        <td>{{ call.datetime|localtime|time:"G:i" }}</td>
                        {# Change Nature Link #}
                        {% if call.datetime < time_threshold %}
                            <td><a method="" class="btn btn-sm btn-link text-dark w-100" href="">{{ call.nature }}</a></td>
                        {% else %}
                            <td><a method="POST" class="btn btn-sm btn-link font-weight-bold w-100 shadow-sm" href="{% url 'downgrade_call' call.id %}">{{ call.nature }}</a></td> 
                        {% endif %}
                        <td>{{ call.location }}</td>
                        <td>{{ call.responder }}</td>
                        {# On Scene Button #}
                        {% if call.cancel_time is not Null and call.on_scene_time is Null %}
                            <td>cancelled</td>
                        {% elif call.on_scene_time is Null and call.cancel_time is Null %}
                            <td><a method="POST" class="btn btn-sm btn-success w-100 shadow" id="on_scene_btn" href="{% url 'on_scene' call.id %}">On Scene</a></td>
				    	{% else %}
				    		<td>{{ call.on_scene_time|time:"G:i" }}</td>
				    	{% endif %}
                        {# Upgrade Button #}
                        {% if call.upgrade_time is Null and call.ems_on_scene_time is Null and call.ems_clear_scene_time is Null and call.datetime < time_threshold or call.cancel_time is not Null %}
                            <td>None</td>
                        {% elif call.upgrade_time is Null or call.ems_on_scene_time is Null or call.ems_clear_scene_time is Null %}
                            <td><a class="btn btn-sm btn-warning w-100 shadow" id="upgrade_btn" href="{% url 'upgrade_call' call.id %}">Upgrade</a></td>
				    	{% elif call.upgrade_time != Null and call.ems_clear_scene_time != Null and call.ems_clear_scene_time != Null %}
				    		    <td>{{ call.upgrade_time|time:"G:i" }}/{{ call.ems_on_scene_time|time:"G:i" }}/{{ call.ems_clear_scene_time|time:"G:i" }}</td>
				    	{% endif %}
                        {# Cancel Button #}
                        {% if call.cancel_time is Null and call.datetime.date < today or call.on_scene_time is not Null %}
                            <td>&nbsp&nbsp------</td>
                        {% elif call.cancel_time is Null %}
                            <td><a class="btn btn-sm" id="cancel_btn" href="{% url 'cancel' call.id %}">&nbsp&nbsp<img src="{% static 'images/cancel.png' %}" class= id="cancel_logo"></a></td>
                        {% else %}
                        <td>&nbsp&nbsp{{ call.cancel_time|time:"G:i" }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
