{%  extends 'calls/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Reporting</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete</a>
		</div>
	</div>
	<div class="col-md">
		<div class="card card-body">
			<h5>Information</h5>
		
		</div>
	</div>
	<div class="col-md">
		<div class="card card-body">
			<h5>Total Visits</h5>
			<hr>
			
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Reason</th>
					<th>Notes</th>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}
