<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="today_total">
			  	<div class="card-header">
			  		<h5 class="card-title">Today</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">AMBs: {{ walkins_today_count }} &nbsp&nbsp&nbsp&nbsp CFS: {{ calls_today_count  }}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="mtd_total">
			  	<div class="card-header">
			  		<h5 class="card-title">MTD Total</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">AMBs: {{ walkins_mtd_count }} &nbsp&nbsp&nbsp&nbsp CFS: {{ calls_mtd_count  }}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="ytd_total">
			  	<div class="card-header">
			  		<h5 class="card-title">YTD Total</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">AMBs: {{ walkins_ytd_count }} &nbsp&nbsp&nbsp&nbsp CFS: {{ calls_ytd_count  }}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
