
<br>
<div class="row">
	<div class="col-md-6">
		<div class="card text-center text-white ml-5 w-auto shadow">
			<table class="table table-sm small mb-0">
				<tr class="bg-dark text-white">
					<th></th>
					{% for i in '012345'|make_list %}
						<th>
							<select class="form-select form-select-sm w-50 text-center no-arrow">
								{% for time in scheduler_times %}
									<option>{{ time }}</option>
								{% endfor %}
						  	</select>
						</th>
					{% endfor %}
					
				</tr>
				{% for zone in scheduler_zones %}
					<tr>
						<td class="font-weight-bold">{{ zone }}</td> 
						{% for i in '012345'|make_list %}                      
							<td>{{ form.responder }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card text-center text-white ml-5 shadow">
			<table class="table table-sm h-100 mb-0">
				<tr class="bg-dark text-white">
					<th>🗓</th>
					<th>AWI</th>
					<th>CFS</th>
				</tr>
				<tr class="gray-row">
					<td>{{ today.year }}</td>                       
					<td>{{ walkins_ytd_count }}</td>
					<td>{{ calls_ytd_count }}</td>
				</tr>
				<tr class="gray-row">
					<td>{{ today|date:"M" }}</td>                       
					<td>{{ walkins_mtd_count }}</td>
					<td>{{ calls_mtd_count }}</td>
				</tr>
				<tr class="font-weight-bold light-yellow">
					<td>today</td>                       
					<td>{{ walkins_today_count }}</td>
					<td>{{ calls_today_count }}</td>
					</tr>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card text-center text-white ml-4 mr-auto w-75 shadow" id="mtd_total">
			<div class="card-body p-2">
				<div>
					<canvas class="w-75 h-25 m-auto" id="barChart"></canvas>
				</div>
				<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
				<script>
				const ctx = document.getElementById('barChart');
				new Chart(ctx, {
				  	type: 'bar',
				  	data: {
						labels: ['701', '705', '710', '720', '725', '730', '740', '745'],
						datasets: [{
					  		label: 'Calls today',
					  		data: [{{ z_701 }}, {{ z_705 }}, {{ z_710 }}, {{ z_720 }}, {{ z_725 }}, {{ z_730 }}, {{ z_740 }}, {{ z_745 }}],
					  		backgroundColor: [
    							  'rgba(255, 99, 132, 0.8)',
    							  'rgba(255, 159, 64, 0.8)',
    							  'rgba(255, 205, 86, 0.8)',
    							  'rgba(17, 171, 22, 0.8)',
    							  'rgba(54, 162, 235, 0.8)',
    							  'rgba(153, 102, 255, 0.8)',
								  'rgba(0, 250, 229, 0.8)',
    							  'rgba(201, 203, 207, 0.8)'
    						],
    						borderColor: [
    					  		'rgb(255, 99, 132)',
    					  		'rgb(255, 159, 64)',
    					  		'rgb(255, 205, 86)',
    					  		'rgb(17, 171, 22)',
    					  		'rgb(54, 162, 235)',
    					  		'rgb(153, 102, 255)',
						  		'rgb(0, 250, 229)',
    					  		'rgb(201, 203, 207)'
    						],
					  		borderWidth: 1
						}]
				  	},
				  	options: {
						scales: {
					  		y: {
								beginAtZero: true
					  		}
						}
				  	}
				});
				</script>
			</div>
		</div>
	</div>
</div>
