
<br>
<div class="row">
	<div class="col">
		<div class="card text-center text-white ml-5 mr-2 p-2 shadow">
			<table class="table table-sm small mb-0">
				<tr class="bg-dark text-white">
					<th></th>
					<th>10</th>
					<th>12</th>
					<th>14</th>
					<th>16</th>
					<th>18</th>
					<th>20</th>
					<th>22</th>
					<th>24</th>
				</tr>
				<tr>
					<td class="font-weight-bold">705</td>                       
					<td>Devin</td>
					<td>Dave</td>
					<td>Matt</td>
					<td>John</td>
					<td>Billy</td>
					<td>Suzanne</td>
					<td>-----</td>
					<td>-----</td>
				</tr>
				<tr class="gray-row">
					<td class="font-weight-bold">710</td>
					<td>Dave</td>
					<td>Devin</td>
					<td>John</td>
					<td>Matt</td>
					<td>Suzanne</td>
					<td>Billy</td>
					<td>-----</td>
					<td>-----</td>
				</tr>
				<tr>
					<td class="font-weight-bold">720</td>
					<td>-----</td>
					<td>-----</td>
					<td>Craig</td>
					<td>Reggie</td>
					<td>-----</td>
					<td>-----</td>
					<td>-----</td>
					<td>-----</td>
				</tr>
				<tr class="gray-row">
					<td class="font-weight-bold">730</td>
					<td>-----</td>
					<td>-----</td>
					<td>Reggie</td>
					<td>Craig</td>
					<td>-----</td>
					<td>-----</td>
					<td>-----</td>
					<td>-----</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col">
		<div class="card text-center text-white ml-5 p-1 shadow">
			<table class="table table-sm mb-0">
				<tr class="bg-dark text-white">
					<th>🗓</th>
					<th>AWI</th>
					<th>CFS</th>
				</tr>
				<tr class="gray-row">
					<td>{{ today.year }}</td>                       
					<td>{{ walkins_ytd_count }}</td>
					<td>{{ calls_ytd_count }}</td>
				</tr>
				<tr class="gray-row">
					<td>{{ today|date:"M" }}</td>                       
					<td>{{ walkins_mtd_count }}</td>
					<td>{{ calls_mtd_count }}</td>
				</tr>
				<tr class="font-weight-bold" id="today">
					<td>today</td>                       
					<td>{{ walkins_today_count }}</td>
					<td>{{ calls_today_count }}</td>
					</tr>
			</table>
		</div>
	</div>
	<div class="col">
		<div class="card text-center text-white ml-5 mr-5 shadow" id="mtd_total">
			<div class="card-body p-2">
				<div>
					<canvas class="w-75 h-25 m-auto" id="barChart"></canvas>
				</div>
				<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
				<script>
				const ctx = document.getElementById('barChart');
				new Chart(ctx, {
				  	type: 'bar',
				  	data: {
						labels: ['701', '705', '710', '720', '725', '730', '740', '745'],
						datasets: [{
					  		label: 'Calls - today',
					  		data: [{{ z_701 }}, {{ z_705 }}, {{ z_710 }}, {{ z_720 }}, {{ z_725 }}, {{ z_730 }}, {{ z_740 }}, {{ z_745 }}],
					  		backgroundColor: [
    							  'rgba(255, 99, 132, 0.5)',
    							  'rgba(255, 159, 64, 0.5)',
    							  'rgba(255, 205, 86, 0.5)',
    							  'rgba(17, 171, 22, 0.5)',
    							  'rgba(54, 162, 235, 0.5)',
    							  'rgba(153, 102, 255, 0.5)',
								  'rgba(0, 250, 229, 0.5)',
    							  'rgba(201, 203, 207, 0.5)'
    						],
    						borderColor: [
    					  		'rgb(255, 99, 132)',
    					  		'rgb(255, 159, 64)',
    					  		'rgb(255, 205, 86)',
    					  		'rgb(17, 171, 22)',
    					  		'rgb(54, 162, 235)',
    					  		'rgb(153, 102, 255)',
						  		'rgb(0, 250, 229)',
    					  		'rgb(201, 203, 207)'
    						],
					  		borderWidth: 1
						}]
				  	},
				  	options: {
						scales: {
					  		y: {
								beginAtZero: true
					  		}
						}
				  	}
				});
				</script>
			</div>
		</div>
	</div>
</div>
