{% extends 'calls/main.html' %}

{% load static %}

{% block content %}

<br>
<div class="row>">
    <div class="col-md-6">
        <div class="card card-body" id="upgrade_btn">
            <h5>Upgrade Times</h5>
        </div>
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-info" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}
