{% extends 'calls/main.html' %}

{% load static %}

{% block content %}

<br>
<br>
<br>
<div class="row>">
    <div class="col-md-12">
        <div class="card card-body w-50 m-auto bg-dark text-white shadow">
            <h5>📝&nbsp {{ walkin.firstname }} {{ walkin.lastname }} - {{ walkin.reason }}</h5>
        </div>
        <div class="card card-body w-50 m-auto shadow">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <a class="btn btn-outline-warning shadow" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-primary w-25 shadow" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}