{% extends 'calls/main.html' %}

{% load static %}

{% block content %}

<br>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body w-50 m-auto bg-info shadow">
            <h5>New Walk-in</h5>
        </div>
        <div class="card card-body w-50 m-auto shadow">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <a class="btn btn-warning shadow" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-info shadow" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}
